<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: name('Home')">
</head>

<body>
<!-- Navigation -->
<nav th:replace="fragments/navigation"></nav>

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">I am not a raging alcoholic, but more of an alcohol aficionado. Buy your alcohol here and
            prevent getting buggered by the Belgian taxes.</p>
        <!-- TODO: complete form -->
        <form class="form-inline my-2 my-lg-0" action="/" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchTag"
                   value=""/>
            <select name="filter">
                <option selected="selected" value="">
                </option>
                <option th:each="category : ${T(com.matthiasvdd.opdracht.models.CategoryEnum).values()}"
                        th:value="${category.getCode()}"
                        th:text="${category.name()}">
                </option>
            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search our store</button>
        </form>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4" th:each="product: ${products}">

            <div class="card h-100">
                <img class="card-img-top mx-auto" th:src="@{${product.imgLocation}}" alt="No image"
                     style="max-width: 100px; max-height: 225px;">
                <div class="card-body">
                    <h4 class="card-title" th:text="${product.name}">Name</h4>
                    <p class="card-text" th:text="${product.description}">Description</p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/detail/{id}(id = ${product.id})}" class="btn btn-primary">More info</a>
                        <button type="button" class="btn btn-default btn-lg">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<div th:replace="fragments/scripts"></div>
</body>
</html>